/*haal de opmaak van de site weg*/
* {
    margin:0;
    padding:0;
}

body {
  background-color: white;
  font-size: 1em;
  font-family: sofia pro;
  text-align: center;
}

h1{
  margin-top: 1em;
}

h3 {font-weight: 100;}

button {
  background: no-repeat 0 0;
  display: block;
  margin:auto;
  margin-top: 1em;
  margin-bottom: 1em;
  width: 128px;
  height: 64px;
  border: solid black 1px;
  border-radius: 4em;
  outline: none;
}
button:hover{
  background-color: rgb(58, 165, 158);
  color:white;
  border: 0em;
}

.smallNumber {
  font-size: 1rem;
  width: 50%;
  padding: 1rem;
  margin: auto;
  margin-top: 1rem;
  border: solid 2px white;
 font-weight: 100;
}

.bigNumber {
  font-size: 4rem;
}